

 

<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li id="title">Geomancy</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">

  
    </ul>
  </div>
</nav> -->
<div class="hexagon">
  <h1>GEOMANCY</h1>
</div>

  <div class="links">
    <% if current_user %>
      <p>Logged in as: <%= current_user.first_name + ' ' + current_user.last_name %> &nbsp;| &nbsp;<a href="/logout">Logout</a></p>
      <% else %>
      <p><a href="#loginModal" data-toggle="modal" data-target="#loginModal">Login</a> &nbsp;| &nbsp;<a href="#signupModal" data-toggle="modal" data-target="#signupModal">Signup</a></p>
    <% end %>
  </div>

<!-- VALIDATION FLASH MESSAGES -->

<div class="flash-messages">
  <div class="fade-flash-messages">
    <% flash.each do |key, value| %>

    <div class="alert alert-<%= key %>" role="alert">
      <%= value %><br>
    </div>

    <% end %>
  </div>
</div>

<!-- LOGIN MODAL BEGINS HERE (part of header) -->

  <div class="modal fade" id="loginModal">
    <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
          <button type="button" class="close x" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">

        <%= form_for :user, url: '/login' do |f| %> 
          <div class="form-group">
            <label for="email">Email Address</label>
            <%= f.email_field :email, placeholder: 'Enter your email', class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <%= f.password_field :password, placeholder: 'Enter your password', class: "form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn x">Close</a>
          <%= f.submit "Login!", class: "btn btn-primary" %>
        </div>
        <% end %>
       </div>
     </div>
  </div>

<!-- LOGIN MODAL ENDS HERE (part of header) -->



<!-- SIGNUP MODAL BEGINS HERE (part of header) -->

  <div class="modal fade" id="signupModal">
    <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
          <button type="button" class="close x" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Signup</h4>
        </div>
        <div class="modal-body">

        <%= form_for :user, url: '/signup' do |f| %> 
          <div class="form-group">
            <label for="first_name">First Name</label>
            <%= f.text_field :first_name, placeholder: 'Enter your first name', class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="last_name">Last Name</label>
            <%= f.text_field :last_name, placeholder: 'Enter your last name', class: "form-control" %>
          </div>          
          <div class="form-group">
            <label for="email">Email Address</label>
            <%= f.text_field :email, placeholder: 'Enter your email address', class: "form-control" %>
          </div>  
          <div class="form-group">
            <label for="password">Password</label>
            <%= f.password_field :password, placeholder: 'Choose a password (at least 6 characters)', class: "form-control" %>
          </div>  
          <div class="form-group">
            <label for="password_confirmation">Password Confirmation</label>
            <%= f.password_field :password_confirmation, placeholder: 'Enter your password once more', class: "form-control" %>
          </div>  
        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn x">Close</a>
          <%= f.submit "Signup!", class: "btn btn-primary" %>
        </div>
        <% end %>
       </div>
     </div>
  </div>

<!-- SIGNUP ENDS HERE (part of header) -->


  <div id="earth_div" class="hidden"></div>

<div class="city-container">
    <h2 id="city"></h2>
    <button id="load-playlist">Load Playlist</button>
</div>


<!--   <h1>Geomancy<span class="links"><a href="/login">Login</a> | <a href="/signup">Signup</a></span></h1> -->

<div ng-controller="trackController">
<div id="player">
    <div class="pl"></div>
    <div class="title">{{currentTrack.title}}</div>
    <div class="artist">{{currentTrack.user.username}}</div>
    <img ng-src="{{artworkUrl}}" alt="">
    <div class="cover"></div>
    <div class="volume"></div>
    <div class="tracker"></div>
    <div class="controls">
        <div id="play" class="icon-play3" ng-click="playTrack()"></div>
        <div class="pause icon-pause2" ng-click="pauseTrack()"></div>
        <div class="rew icon-backward2" ng-click="prevTrack()"></div>
        <div class="fwd icon-forward3" ng-click="nextTrack()"></div>
        <div class="icon-menu4"></div>
    </div>
    <ul id="playlist" class="list-group">
        <li ng-repeat="track in tracks" id="{{$index}}" ng-click="loadTrack($index); getTweets(track.user.username)">{{track.user.username}} - {{track.title}}</li>
    </ul>
</div>
        <div class="twitter-feed">
              <ul class="media-list">
                  <li class="media" ng-repeat="tweet in tweets">
                    <a class="media-left" href="#" title="#">
                      <img ng-src="{{tweet.user.profile_image_url}}" alt="">
                    </a>
                    <div class="media-body">
                      <h5 class="media-heading">{{tweet.user.name}}</h5>
                      <h5> <a href="http://www.twitter.com/{{tweet.user.screen_name}}" target="_blank">@{{tweet.user.screen_name}}</a></h5>
                      <p>
                        <a href="http://www.twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id}}" target="_blank">
                        {{tweet.text}}
                         </a>
                      </p>
                    </div>
                  </li>
                </ul>
        </div>


<iframe id="sc-widget" src=<%= "https://w.soundcloud.com/player/?url=#{@test_track}?client_id=#{ENV['soundcloud_client_id']}" %> width="0" height="0" scrolling="no" frameborder="no"></iframe>

</div>



